body{
    margin: 2em;
    font-family: 'Outfit', sans-serif;
    background-image:url(../img/fondo1.jpg) ;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Comfortaa', cursive;
}

footer{
	padding: 20px;
	margin-top: 20px;
	color: rgb(255, 255, 255);
	background-color: #7f4f24;
    background-image:url(../img/fondo1.jpg) ;
    background-size: cover;
	text-align: center;
}